html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  /* background: url(./img/mario-bg.png) no-repeat; */
  background-size: 100%;
  background-position: bottom;
  background-color: white;
  min-height: 100%;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  
}

form {
  padding: 20px;
}

form button, form h5 {
  margin: 20px 0;
}

input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-color: #ec407a;
  box-shadow: none;
}

.main-dash {
  width: 100%;
}

.radiobutton {
  margin-left: 20px;
}

.graph {
  margin-bottom: 5%;
  margin-top: 2%;
}

.signin {
  margin-top: 5%;
  width: 40%;
}

.leftnav {
  margin-left: 3% !important;
  margin-top: 1.25%;
}

.rightnav {
  margin-right: 2%;
}

.ProfPic {
  margin-top: 5%;
}

.card-image {
  height: 150px;
  background-image: url('../src/img/stock.jpg');
  background-size: 100%;
}

.signup {
  margin-top: 3%;
}

.updateprofile {
  margin-top: 2.5%;
}